:root {
    --primary:#007a70 ;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgb(0, 0, 0,0.7)),url("/Assets/images/house.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    transition: 21s;
}
.mainr {
    width: 800px;
    background-color: #fff;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    transition: 21s;
}

.sign {
    padding-top: 40px;
    color: var(--primary);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.main .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
.mainr .pass {
    width: calc(76% / 2);
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

    .mainr .un {
        width: calc(76% / 2);
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
        }

form.form1 {
    padding-top: 40px;
}

.main .pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}
.mainr .submit {
    cursor: pointer;
      border-radius: 5em;
      color: white;
      background: var(--primary);
      border: 0;
      padding: 10px 80px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
.main .submit {
  cursor: pointer;
    border-radius: 5em;
    color: white;
    background: var(--primary);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: var(--primary);
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: var(--primary);
    text-decoration: none
}

@media only screen and (max-width: 820px) {
    .main {
        border-radius: 0px;
    }
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.8),rgb(0, 0, 0,0.7)),url("/Assets/images/house.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Ubuntu', sans-serif;
        
    }
    .main {
        background-color: #fff;
        width: 100%;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    .mainr {
        width: 100%;
        background-color: #fff;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    .mainr .un {
        width: calc(90%);
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin: 0 5%;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }
    .mainr .pass {
        width: calc(90%);
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin: 0 5%;
        text-align: center;
        margin-bottom: 27px;
    }
    .mainr .submit {
        cursor: pointer;
        border-radius: 5em;
        color: white;
        background: var(--primary);
        border: 0;
        padding: 10px 34.5%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        margin: 0 5%;
        letter-spacing: 5px;
    }
    .main .pass {
        width: 90%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
        }
    .main .un {
        width: 90%;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin: 0 5%;
        margin-bottom: 27px;
        }
    .main .pass {
        width: 90%;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin: 0 5%;
        margin-bottom: 27px;
        }
    .main .submit {
        cursor: pointer;
          border-radius: 5em;
          color: white;
          background: var(--primary);
          border: 0;
          letter-spacing: 5px;
          padding: 10px 35%;
          font-size: 13px;
          margin: 0 5%;
      }
}