*{
    margin: 0;
    padding: 0;
}
#mainbanner{
    background-image: url("../images/house.png");
    background-repeat: none;
    background-size: cover;

}
#mainbanner .overly{
 width: 100%;
 height: 100%;
 background-color: #000;
 z-index: 1;
 opacity: 0.8;
}
#navbar{
    top: 0;
    left: 30%;
    position: absolute;
}
#logo{
    position: absolute;
    top: 10px;
    left: 10px;
}

header{
    position: absolute;
    background: #007574;
    top: 0;
    width: 100%; 
    height: 60px;
    z-index: 2;
}

nav.primary-navigation {
    margin: 0 auto;
    display: block;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 16px;
  }
  nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #007574;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
  }
  nav.primary-navigation li a {
    color: rgb(255, 255, 255);
  }
  nav.primary-navigation li a:hover {
    color: #000000;
  }
  nav.primary-navigation li:hover {
    cursor: pointer;
  }
  nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
  }
  nav.primary-navigation ul li:hover > ul,
  nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
  }
  nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }
  nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: #3ca0e7;
  }
  
  ul li ul li a {
    transition: all 0.5s ease;
  }

  /* --------------------- input search -------------------- */
.search{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100% ;
    overflow: none;
}
.search .input-search{
  
    position: absolute;
    width: 40%;
    height: 3.5em;
    left: calc((100% - 40%) / 2);
    border-radius: 6px;
    background: #9a9a9a80;
    top: 48%;
    border: solid 1px rgb(0, 0, 0);
    padding: 6px;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: #007574;
    color: #ccc; 
    
}
 .search .input-search:focus{
    border: solid 1px #007574;
    outline: #007574;
 }
#iconsearch{
    position: absolute;
    top: 50.5%;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #7e7b7b;
    font-size: 40px;
    left: 66%;
}

.citation{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 150px;
}
.citation h2{
    /* width: 400px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
    line-height: 2.5rem;
    color: #c9c7c7;
}

.second-section{
  padding: 10px 20px;
  /* background-color: #00373698; */
    
}
.firstrow{
  justify-content: space-between;
  margin: auto;
  width: 99%;
  height: 20rem;
  display: flex;
}

.firstrow .right, .left{
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
  direction: ltr;
  
}
.firstrow .right{
  height: 100%;
  display: block;
  float: right;
}
.firstrow .right, .firstrow .right-img {
  float: right;
}
.firstrow .left, .firstrow .left-img {
  float: left;
}
.firstrow:has(>.right-img) {
  /* display: none; */
  direction: rtl;
}

 .firstrow .right-img img, .firstrow .left-img img{
  width: 100%;
  height: 100%;
 }
 .firstrow .left-img, .firstrow .right-img {
  width: 50%;
 }
 .card {
   font-family: 'Dosis', sans-serif;
   padding: 2rem;
   font-size: 1.3rem;
   
 }
 .firstrow .right .card .bodyText{
  padding: 6px 0;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
 }
 .firstrow .right .card a,
  .firstrow .left .card a{
  font-family:'Courier New', Courier, monospace;
   font-weight: 600;
   color: #c9c7c7;
   width: 60%;
   background-color: #007a70;
   padding:  6px 10px;
   border-radius: 20px;
   margin-top: 1.5rem;
   display: block;
   text-align: center;  
   transition: 0.6s;
 }
 .firstrow .left .card a:hover,
  .firstrow .right .card a:hover{
  color: white;
  font-size: 1.55rem;
  transition: 0.6s;
  background-color: #00544d;
 }

 .info-footer, .footer{
  border: 2px solid #000;
  background-color: #f3f3f3;
 }
 .info-footer{  
  height: 5rem;
  background-color: #000;
  width: 100%;
  display: flex;
 }
.info-footer .cooperate{
  margin: auto 0;
  color: #f3f3f3;
  font-size: 1.5rem;
  font-style: italic;
}
.info-footer .logo img{
  height: 40%;
  margin-top: 20%;
} 
  .info-footer .logo { 
    height: 100%;
  margin: 0 auto ;
}
.info-footer .social{
  display: flex;
  margin: auto;
}
.info-footer .social img{
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 4px;
}


@media only screen and (max-width: 820px) {
  header{
  display: none;
}
*{
  overflow-x: clip;
}
.second-section {
  padding: 0%;
  width: 100%;
}
  .search .input-search{
    /* position: absolute; */
    width: 80%;
    height: 3.5em;
    top: 70%;
    left: calc((100% - 80%) / 2);
  }
  #iconsearch{
    position: absolute;
    top: 71.5%;
    border-radius: 50%;
    left: 78%;
  }
  .firstrow{
    display: block;
    height: 25rem;
    width: 100%;
  }
  .firstrow .left, .firstrow .right , .firstrow .left-img , .firstrow .right-img{
    display: block;
    width: 100%;
  }
  .footer{
    display: block;
  }
  .info-footer .logo{
    display: none;
  }
  .info-footer .cooperate,.info-footer .social{
    width: 100%;
  }
  footer .info-footer {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 98.5rem;
    border: none;

  }
  footer .info-footer .social{
    margin: 11px 0;
    display: flex;
    justify-content: space-evenly;
  }
  .firstrow .right .card a, .firstrow .left .card a {
    width: 100%;
  }

}